.item-container {
    display: flex;
    flex-direction: row;
    height: 35vh;
    width: 80vw;
    border: 5px solid blue;
    background-color: white;
    margin: 10px 0;
}

.section-heading {
    background-color: aqua;
    text-align: center;
    width: auto;
    font-size: 25px;
}