.image-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.image-container img {
    height: 290px;
    width: 270px;
}

@media only screen and (max-width: 375px) {
    .image-container img {
       height: 200px;
       width: 130px;
    }
}